<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="amarillostyle.css">
        <head>
            <title>BASURERO AMARILLO</title>

        </head>
        <body>
            <div class="REC_cuerpo">
                <div class="BAS_amarillo">
                    Basurero amarillo:
                </div>
                <div class="PIC_amarillo">
                    <img src="/templates/imagenes/AMARILLO.png">
                </div>
                <div class="UTILIDAD">Este es el lugar para los envases de plásticos, latas y tetra briks, siempre con el menor rastro de comida u otros materiales.
                    En este basurero hay que evitar botar juguetes de plástico, biberones, chupetes, utensilios de cocina, materiales de plástico de cuadros o fotografías y envases de los medicamentos.
                    </div>
                <a href="X" class="BOTON">
                    HOY RECICLÉ

                </a>
            </div>

        </body>
</html>  