<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="azulstyle.css">
        <head>
            <title>BASURERO AZUL</title>

        </head>
        <body>
            <div class="REC_cuerpo">
                <div class="BAS_azul">
                    Basurero azul:
                </div>
                <div class="PIC_azul">
                    <img src="/templates/imagenes/AZUL.png">
                </div>
                <div class="UTILIDAD">Este contenedor está destinado para el reciclaje de papel y cartón. No obstante, no hay que depositar en este contenedor los tetra briks –como el de leche–,
                    los papeles impregnados con aceite u otra sustancia similar deben ir al contenedor orgánico. 
                    </div>
                <a href="X" class="BOTON">
                    HOY RECICLÉ

                </a>
            </div>

        </body>
</html>   