<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="iniciosesion.css">
        <title>Registro</title>
        <img  width="100"src="/templates/imagenes/LOGO APP.png">
        <h1 class="titulo"> 
            Recykling Friends
        </h1>
    </head>
    <br>
    <br>
    <br>
    <body>
        <div class="iniciarsesion">
            <form class="formulario_login">
                <h2>Iniciar sesión</h2>
                <input type="text" name="Gmail" placeholder="Correo electronico">
                <input type="password" placeholder="Contraseña" >
                <button class="botoniniciarsesion"><a href="/inicio">Iniciar sesión</a></button>
                <h4>No tienes cuenta?</h4>
                <h4>Únetenos!</h4>
                <button class="botonregistro"><a href="/registro">Registrarse</a></button>
            </form>
        </div>
        
    </body>


</html>