<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="perfilstyle.css">
        <head>
            <title>Recykling Profile</title>
        </head>
        <body>
            <div class="REC_perfil">
                <h1><center>perfil</center></h1></div>
            <div class="REC_cuerpo">
                <h2><div class="REC_iconos">

                        <a href="rojo.html" class="BOT_cerrar"> <!--CAMBIAR, REDIRIGE A  Y NO VA AQUÍ-->
                            <span class="LOGO_cerrar">
                                <img src="https://img.icons8.com/material-outlined/38/000000/shutdown.png"></span>
                        </a>

                        <a href="azul.html" class="BOT_mapa"> <!--CAMBIAR, REDIRIGE A AZUL Y NO VA AQUÍ-->
                            <span class="LOGO_mapa">
                                <img src="https://img.icons8.com/material-sharp/38/000000/worldwide-location.png"/></span>
                        </a>

                        <a href="verde.html" class="BOT_editar"> <!--CAMBIAR, REDIRIGE A VERDE Y NO VA AQUÍ-->
                            <span class="LOGO_editar">
                                <img src="https://img.icons8.com/ios-filled/38/000000/cat-profile.png"></span>
                        </a>
                </div></h2>
                <h3><div class="REC_deco"></div></h3>
                <center><img src="IMGperfil.png"></center>
                <div class="nombre"> <center>Mina Okabe</center></div>
                &nbsp
                <div class="correo"><center>mina.okabe@sansano.usm.cl</center></div>
                &nbsp
                <div class="descripcion">
                    <center>Los datos que el usuario entregue no serán usados para ningún otro fin
                         aparte del uso individual de la aplicación.
                    </center></div>
                <center><img src="PLANTITA2.png"></center>
                &nbsp
                <div class="BOXES">
                    <a href="/puntaje" class="BLUEBOX">
                        <span class="VERPUNTAJE">
                            <p>ver puntaje</p></span></a>

                    <a href="/inicio" class="YELLOWBOX">
                        <span class="VERPUNTAJE">    
                        <p>ir a inicio</p></span></a>

                    <a href="/ranking" class="REDBOX">
                        <span class="VERPUNTAJE">
                            <p>ver ranking</p></span></a>
                </div>
            </div>
        </body>
</html>