<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body >
        <header class="header"> 
            <div  class="container">
                <a><img src="/templates/imagenes/LOGO APP.png"  alt="logo" width="70"><h3>Recykling Friends</h3></a>
                <nav class="navigation">
                    <ul>
                        <li><a href="/perfil">Usuario</a></li>
                        <li><a href="/ranking">Ranking</a></li>
                    </ul>
                    
                </nav>
            </div>
        </header >
        <div class="overlay">
            <div class="popup">
                <button class="bas1"><a href="/basureroverde" > <img src="/templates/imagenes/BASURERO VERDE.png" width="50"></a></button>
                <button class="bas2"><a href="/basureroazul"  ><img src="/templates/imagenes/BASURERO AZUL.png" width="50"></a></button>
                <button class="bas3"><a href="/basurerorojo"  ><img src="/templates/imagenes/BASURERO ROJO.png" width="50"></a></button>
                <button class="bas4"><a href="/basureroamarillo"  ><img src="/templates/imagenes/BASURERO AMARILLO.png" width="50"></a></button>
            </div>
            
        </div>
        <div class="mapa">
            <h2>Mapa</h2>
            <div class="mapatexto"></div>
                <iframe src="https://www.google.com/maps/d/embed?mid=1K8P6zrk_t9QHLwSYyJaVCjaiZ3gEspRd&ehbc=2E312F" width="640" height="480"></iframe>
                <h3>Hola! bienvenido a Recykling Friends<br> Este mapa es de los puntos de reciclaje y de basureros que hay en la universidad y sus alrededores, esperamos que sea de ayuda y
                fomentemos el reciclaje como el de no botar basura en la calle o esperar llegar a casa para botar nuestra basura.</h3>
                <!--<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vFC_g2LEoDvnLAwKu3Qpov4fm2wuJ-5W" width="640" height="480"></iframe></div>--> 
            </div>
        <div class="sección_youtube">
            <h2>Vamos a reciclar juntos!</h2>
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/xCaI-5WVRlY" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>  
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/IoWmF0fo2Wc" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/-UFFFUTMlCw" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/9MlKHAhuXlo" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/mG3SRMwX_ZU" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/qDbxCUOyLWc" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        
            
            

        </div>
        
    </body>
    
        

</html>


