<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body >
        <header class="header"> 
            <div  class="container">
                <a><img src="/templates/imagenes/LOGO APP.png"  alt="logo" class="nev-brand" width="70">Recykling Friends</a>
                <nav class="navigation">
                    <ul>
                        <a href="#" >Usuario</a>
                        <a href="/registro.html"> Registro </a></li>
                        <a href="#"> Iniciar Sesión </a></li>
                        <a href="##">Ranking</a>
                    </ul>
                    
                </nav>
            </div>
        </header >
        <div class="sección1">
            <button class="bas1"><a href="/basureroverde" > <img src="/templates/imagenes/BASURERO VERDE.png" width="50"></a></button>
            <button class="bas2"><a href="/basureroazul"  ><img src="/templates/imagenes/BASURERO AZUL.png" width="50"></a></button>
            <button class="bas3"><a href="/basurerorojo"  ><img src="/templates/imagenes/BASURERO ROJO.png" width="50"></a></button>
            <button class="bas4"><a href="/basureroamarillo"  ><img src="/templates/imagenes/BASURERO AMARILLO.png" width="50"></a></button>
            
            <!--<ul>
                <li>Puntaje</li>
            <button>
                <a href="##" class="recyklingfriends">Usuario</a></li>
            </button>
            <button>
                <li><a href="/registro" class=" recyklingfriends"> Registro/Iniciar sesión</a></li>
            </button>
            <button>
                <li><a href="##" class="recyklingfriends">Ranking</a></li>
            </button>
            </ul>-->
            
        </div>
        <div class="mapa">
            <h2>Mapa</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3344.7825025783545!2d-71.59523897756581!3d-33.03586014674341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1637794445549!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vFC_g2LEoDvnLAwKu3Qpov4fm2wuJ-5W" width="640" height="480"></iframe>
        </div>
        <div class="sección_youtube">
            <h2>Vamos a reciclar juntos!</h2>
            <iframe width="280" height="157" 
            src="https://www.youtube.com/embed/-UFFFUTMlCw" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
            
            

        </div>
        
    </body>
    
        

</html>


