<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="puntajestyle.css">
        <head>
            <title>TU PUNTAJE</title>

        </head>
        <body>
            <div class="REC_cuerpo">
                <div class="TU_puntaje">Puntaje Mensual</div>
                <div class="saludo_puntaje">Hola (nombre)! este mes has alcanzado:</div>
                <div class="PUNTOS">24</div>
                <div class="mensaje_puntaje">Si nos unimos todos, podremos hacer un cambio!</div>
                <div class="mensaje2_puntaje">Gracias por tu aporte♡</div>
                <div class="fechas">tus reciclajes más recientes:</div>
            </div>   
        </body>
</html>