<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="rankingstyle.css">
        <head>
            <title>RANKING SANSANO</title>

        </head>
        <body>
            <div class="REC_cuerpo">
                <div class="RANKING_SANSANO"><center>Ranking Sansano</center></div>
                &nbsp
                <div class="TIT_lista">
                    <h1>TOP3 de este mes:</h1>
                    <div class="lista_reciclaje">
                <!--primer puesto-->
                        <div class="circulo_1">
                            <img src="https://img.icons8.com/officel/80/000000/medal2.png"/>
                        </div>
                        <div class="primero">
                            <!--referencia a nombre de base de datos-->
                            &nbsp;&nbsp; Nombre Persona
                            <p>&nbsp;&nbsp;&nbsp; correo persona</p>
                            <p>&nbsp;&nbsp;&nbsp; puntaje persona</p>
                        </div>
                <!--segundo puesto-->
                        <div class="circulo_2">
                            <img src="https://img.icons8.com/office/80/000000/medal-second-place.png"/>
                        </div>
                        <div class="segundo">
                <!--referencia a nombre de base de datos-->
                            &nbsp;&nbsp; Nombre Persona
                            <p>&nbsp;&nbsp;&nbsp; correo persona</p>
                            <p>&nbsp;&nbsp;&nbsp; puntaje persona</p>
                        </div>

                <!--tercer puesto-->
                        <div class="circulo_3">
                            <img src="https://img.icons8.com/office/80/000000/medal2-third-place.png"/>
                        </div>
                        <div class="tercero">
                <!--referencia a nombre de base de datos-->
                            &nbsp;&nbsp; Nombre Persona
                            <p>&nbsp;&nbsp;&nbsp; correo persona</p>
                            <p>&nbsp;&nbsp;&nbsp; puntaje persona</p>
                        </div>    


                    </div>


                </div>
            </div>


        </body>
        </html>