<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="resgitrarse.css">
        <title>Registro</title>
        <img  width="100"src="/templates/imagenes/LOGO APP.png">
        <h1 class="titulo"> 
            Recykling Friends
        </h1>
    </head>
    <br>
    <br>
    <br>
    <body>
        <div class="contenedor">
            <form class="formulario_registro" action="/" method="POST">
                <h2>Registrarse</h2>
                <input type="text" name="nombreregister" placeholder="Nombre completo">
                <input type="text" name="Usuarioregister" placeholder="Usuario">
                <input type="password" name="contrasenaregister" placeholder="Contraseña" >
                <button type="submit" class="registronuevousu"><a>Registrarse</a></button>
                
            </form>
            
            <h4>Ya tienes una cuenta?</h4>
            <button class="llevar_a_iniciarsesion"><a href="/iniciosesion">Iniciar Sesión</a></button>
        </div>  
    </body>


</html>