<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="rojostyle.css">
        <head>
            <title>BASURERO ROJO</title>

        </head>
        <body>
            <div class="REC_cuerpo">
                <div class="BAS_rojo">
                    Basurero rojo:
                </div>
                <div class="PIC_rojo">
                    <img src="/templates/imagenes/ROJO.png">
                </div>
                <div class="UTILIDAD">En este basurero se echan los "desechos peligrosos". Entre los desechos que se incluyen en esta categoría se encuentran: desechos hospitalarios, baterías, pilas, insecticidas, aerosoles, aceites o productos tecnológicos.
                    </div>
                <a href="X" class="BOTON">
                    HOY RECICLÉ

                </a>
            </div>

        </body>
</html> 