<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>
        <link rel="stylesheet" href="verdestyle.css">
        <head>
            <title>BASURERO VERDE</title>

        </head>
        <body>
            <div class="REC_cuerpo">
                <div class="BAS_verde">
                    Basurero verde:
                </div>
                <div class="PIC_verde">
                    <img src="/templates/imagenes/VERDE.png">
                </div>
                <div class="UTILIDAD">Este basurero está destinado para depositar vidrio. Siempre recordar sacar los corchos o tapones que los frascos o botellas puedan traer.
                     Es importante no confundir el cristal con el vidrio. Pedazos de espejo, vasos, vajillas -todo lo que no sea vidrio- no se debe depositar en este contenedor.
                    </div>
                <a href="X" class="BOTON">
                    HOY RECICLÉ

                </a>
            </div>

        </body>
</html>